<html>
<% include ../partials/head %>

	<body>
		<div id="wrapper">
				<% include ../partials/header %>

				<div id="navBar">
					<a href="/">Home</a>
					<a href="/graphs">Graphs</a>
					<a class="active" href="/camera">Camera</a>
				</div>


				<div id="mainContent">
					<div id="subContent">
						<h2>SmartCoop Live Stream</h2>
						<img src="http://192.168.41.10:8080/?action=stream" />

						<p>Click to turn LED on and off.<br />
							<button type="button" class="button" onclick="ledOn();">On</button>
							<button type="button" class="button" onclick="ledOff();">Off</button>
						</p>
					</div>
				</div>

				<% include ../partials/footer %>

		</div>
	</body>

</html>
