<html>
  <% include ../partials/head %>

  <body>
    <div id="wrapper">
      <% include ../partials/header %>

      <div id="navBar">
        <a href="/">Home</a>
        <a class="active" href="/graphs">Graphs</a>
        <a href="/camera">Camera</a>
      </div>


      <div id="mainContent">
        <div id="subContent">
          <h2>Graphs</h2>
          These graphs are made using ThingSpeak from MathWorks. There is a <a href="http://192.168.41.11:5000">separate web app</a> where the measurements can be graphed using Python with Matplotlib.
          <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/351486/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&api_key=4FTN1ZL8P525S956&results=60&type=line&update=15"></iframe>
          <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/351486/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&api_key=4FTN1ZL8P525S956&results=60&type=line&update=15"></iframe>
          <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/351486/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&api_key=4FTN1ZL8P525S956&results=60&type=line&update=15"></iframe>
          <br /><br />

        </div>
      </div>

      <% include ../partials/footer %>

    </div>
  </body>
</html>
