<html>
<head>
  <title>PLOT</title>
</head>
<body>
  <form action = "/", method = "POST">
    <fieldset>
      <label><input name="measurement" type="radio" value="temp" checked="checked">Outside Temperature</label>
      <label><input name="measurement" type="radio" value="itemp">Inside Temperature</label>
      <label><input name="measurement" type="radio" value="hum">Inside Humidity</label>
      <br /><br />

      <label for="name">Number of Entries:</label>
      <input type="text" id="numEntries" name="numEntries" placeholder="Enter the number of entries you wish to graph" />
      <br />
      <br />
      <label for="lowDate">Lower Date</label>
      <input type="text" id="lowDate" name="lowDate" placeholder="YYYY-MM-DD" />
      <label for="upperDate">Upper Date</label>
      <input type="text" id="upperDate" name="upperDate" placeholder="YYYY-MM-DD" />
      <br />
    </fieldset>
    <input type="submit" value="Create Graph"/>
  </form>
</body>


</html>
