<html>
<head>
  <title>SmartCoop Graph</title>
  <script>
  function selectType() {
    var latReadingsHTML = '<label>Number of Entries:</label><input type="number" id="numEntries" name="numEntries" min="1" placeholder="Enter the number of entries you wish to graph" /><br />';
    var dateRangeHTML = '<label>Lower Date</label><input type="date" id="lowDate" name="lowDate" /><label for="upperDate">Upper Date</label><input type="date" id="upperDate" name="upperDate" />';


    if (document.getElementById("latReadings").checked == true) {
      document.getElementById("update").innerHTML = latReadingsHTML;
    } else if (document.getElementById("dateRange").checked == true) {
      document.getElementById("update").innerHTML = dateRangeHTML;
    }
  }
  </script>
</head>
<body onload="selectType();">
  <h1>SmartCoop Graphing</h1>
  <form action = "/", method = "POST">
    <fieldset>
      <u>Select a measurement to graph:</u>
      <br />
      <label><input name="measurement" type="radio" value="temp" checked="checked">Outside Temperature</label>
      <label><input name="measurement" type="radio" value="itemp">Inside Temperature</label>
      <label><input name="measurement" type="radio" value="hum">Inside Humidity</label>
      <br /><br />

      <!--Would you like to graph a number of latest readings or values in a specific date range? <br />-->
      <fieldset>
        <label><input id="latReadings" name="type" type="radio" value="latReadings" onclick="selectType();" checked="checked" />Latest Readings</label>
        <label><input id="dateRange" name="type" type="radio" value="dateRange" onclick="selectType();"/>Date Range</label>
        <br /><br />
        <div id="update"></div>
      </fieldset>
      <input type="submit" value="Create Graph"/>
    </fieldset>

  </form>
</body>
</html>
